<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <link rel="icon" type="image/png" href="/askbootstrap/preview/vegishop/img/logo.png">
    <title>Vegishop - Online Grocery Supermarket HTML Template</title>

    <link rel="stylesheet" type="text/css" href="/askbootstrap/preview/vegishop/vendor/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/askbootstrap/preview/vegishop/vendor/slick/slick-theme.min.css"/>

    <link href="/askbootstrap/preview/vegishop/vendor/icons/icofont.min.css" rel="stylesheet" type="text/css">

    <link href="/askbootstrap/preview/vegishop/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/askbootstrap/preview/vegishop/css/style.css" rel="stylesheet">

    <link href="/askbootstrap/preview/vegishop/vendor/sidebar/demo.css" rel="stylesheet">
</head>
<body class="fixed-bottom-padding">

<div th:insert="~{fragment/header::headerFragment}"></div>

<div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox"/>
        <div class="slider round"></div>
        <i class="icofont-moon"></i>
    </label>
    <em>Enable Dark Mode!</em>
</div>

<nav aria-label="breadcrumb" class="breadcrumb mb-0">
    <div class="container">
        <ol class="d-flex align-items-center mb-0 p-0">
            <li class="breadcrumb-item"><a href="/" class="text-success">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
    </div>
</nav>
<div th:if="${productList.size() == 0}" style="color: indianred; display: flex; justify-content: center">
    <h1>Cart is empty!</h1>
</div>

<section class="py-4 osahan-main-body" th:if="${productList.size() > 0}">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-8">
                <div class="accordion" id="accordionExample">

                    <div class="card border-0 osahan-accor rounded shadow-sm overflow-hidden">

                        <div class="card-header bg-white border-0 p-0" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn d-flex align-items-center bg-white btn-block text-left btn-lg h5 px-3 py-4 m-0"
                                        type="button" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    <span class="c-number">1</span> <span
                                        th:text="'Product list (' + ${productList.size()} + ' items)'"></span>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body p-0 border-top">
                                <div class="osahan-cart">
                                    <div class="cart-items bg-white position-relative border-bottom">
                                        <div class="d-flex  align-items-center p-3" th:each="product: ${productList}">
                                            <a href="product_details.html"><img
                                                    th:src="@{/get_product_image(imageName=(${product.getProduct().getProductImg()}))}"
                                                    class="img-fluid"></a>
                                            <a href="product_details.html"
                                               class="ml-3 text-dark text-decoration-none w-100">
                                                <h5 class="mb-1" th:text="${product.getProduct().getName()}"></h5>

                                                <div class="d-flex align-items-center"
                                                     style="justify-content: space-between;">
                                                    <p class="total_price font-weight-bold m-0"
                                                       th:text="'$ ' + ${product.getProduct().getPrice()}"></p>


                                                </div>
                                                <div style="display: flex; flex-direction: column; align-items: baseline; justify-content: center;">
                                                    <span th:text="'Count product ' + ${product.getCountProduct()}"></span>
                                                    <a th:href="@{/cart/delete_product/{id}(id=${product.getId()})}"
                                                       style="margin-top: 10px">Delete</a>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="cart.html#" class="text-decoration-none btn btn-block p-3"
                                           type="button" data-toggle="collapse" data-target="#collapsetwo"
                                           aria-expanded="true" aria-controls="collapsetwo">
                                            <div class="rounded shadow bg-success d-flex align-items-center p-3 text-white">
                                                <div class="more">
                                                    <h6 class="m-0" th:text="'Subtotal $ ' + ${totalCost}"></h6>
                                                    <p class="small m-0">Proceed to checkout</p>
                                                </div>
                                                <div class="ml-auto"><i class="icofont-simple-right"></i></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0 osahan-accor rounded shadow-sm overflow-hidden mt-3">

                        <div class="card-header bg-white border-0 p-0" id="headingtwo">
                            <h2 class="mb-0">
                                <button class="btn d-flex align-items-center bg-white btn-block text-left btn-lg h5 px-3 py-4 m-0"
                                        type="button" data-toggle="collapse" data-target="#collapsetwo"
                                        aria-expanded="true" aria-controls="collapsetwo">
                                    <span class="c-number">2</span> Order Address
                                    <a href="cart.html#"
                                       data-toggle="modal"
                                       data-target="#exampleModal"
                                       class="text-decoration-none text-success ml-auto">
                                        <i class="icofont-plus-circle mr-1"></i>Add New Delivery Address</a>
                                </button>
                            </h2>
                        </div>

                        <div id="collapsetwo" class="collapse" aria-labelledby="headingtwo"
                             data-parent="#accordionExample">
                            <div class="card-body p-0 border-top">
                                <div class="osahan-order_address">
                                    <div class="p-3 row">
                                        <div class="custom-control col-lg-6 custom-radio mb-3 position-relative border-custom-radio"
                                             th:each="address: ${userAddress}">
                                            <input type="radio" th:id="${'customRadioInline' + address.getId()}"
                                                   name="deliverAddress"
                                                   class="custom-control-input"
                                                   th:value="${address.getId()}">
                                            <label class="custom-control-label w-100"
                                                   th:for="${'customRadioInline' + address.getId()}"
                                                   name="deliverAddress">
                                                <div class="p-3 bg-white rounded shadow-sm w-100">
                                                    <div class="d-flex align-items-center mb-2"
                                                         th:if="${address.getId() == userAddress.get(0).getId()}">
                                                        <p class="mb-0 h6">Home</p>
                                                    </div>
                                                    <div th:if="${userAddress.size() > 1 && address.getId() == userAddress.get(1).getId()}"
                                                         class="d-flex align-items-center mb-2">
                                                        <p class="mb-0 h6">Work</p>
                                                    </div>
                                                    <div th:if="${userAddress.size() > 2 && address.equals(userAddress.get(2))}"
                                                         class="d-flex align-items-center mb-2">
                                                        <p class="mb-0 h6">Other</p>
                                                    </div>

                                                    <p class="small text-muted m-0"
                                                       th:text="${address.getRegion()} + ',  ' + ${address.getCity()}"></p>
                                                    <p class="small text-muted m-0"
                                                       th:text="${address.getStreet()} + ',  ' + ${address.getApartmentNumber()}"></p>

                                                </div>
                                                <span class="btn btn-light border-top btn-lg btn-block"> Deliver Here </span>
                                                <a th:href="'/cart/order/'+${address.getId()}"
                                                   class="btn btn-success btn-lg btn-block mt-3" type="button"
                                                >Continue</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<nav id="main-nav">
    <ul class="second-nav">
        <li><a href="home.html"><i class="icofont-smart-phone mr-2"></i> Home</a></li>
        <li>
            <a href="cart.html#"><i class="icofont-login mr-2"></i> Authentication</a>
            <ul>
                <li><a class="dropdown-item" href="../../../../templates/signin.html">Sign In</a></li>
                <li><a class="dropdown-item" href="signup.html">Sign Up</a></li>
                <li><a href="/askbootstrap/preview/vegishop/verification.html">Verification</a></li>
            </ul>
        </li>
        <li><a class="dropdown-item" href="listing.html">Listing</a></li>
        <li><a class="dropdown-item" href="product_details.html">Detail</a></li>
        <li><a class="dropdown-item" href="picks_today.html">Trending</a></li>
        <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/recommend.html">Recommended</a></li>
        <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/fresh_vegan.html">Most Popular</a></li>
        <li><a class="dropdown-item" href="cart.html">Cart</a></li>
        <li><a class="dropdown-item" href="/templates/checkout.html">Checkout</a></li>
        <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/successful.html">Successful</a></li>
        <li>
            <a href="cart.html#"><i class="icofont-sub-listing mr-2"></i> My Order</a>
            <ul>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/my_order.html">My order</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/status_complete.html">Status
                    Complete</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/status_onprocess.html">Status on
                    Process</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/status_canceled.html">Status
                    Canceled</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/review.html">Review</a></li>
            </ul>
        </li>
        <li>
            <a href="cart.html#"><i class="icofont-ui-user mr-2"></i> My Account</a>
            <ul>
                <li><a class="dropdown-item" href="my_account.html">My account</a></li>
                <li><a class="dropdown-item" href="promos.html">Promos</a></li>
                <li><a class="dropdown-item" href="my_address.html">My address</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/terms_conditions.html">Terms &
                    conditions</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/help_support.html">Help & support</a>
                </li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/help_ticket.html">Help ticket</a></li>
                <li><a class="dropdown-item" href="../../../../templates/signin.html">Logout</a></li>
            </ul>
        </li>
        <li>
            <a href="cart.html#"><i class="icofont-page mr-2"></i> Pages</a>
            <ul>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/verification.html">Verification</a>
                </li>
                <li><a class="dropdown-item" href="promos.html">Promos</a></li>
                <li><a class="dropdown-item" href="promo_details.html">Promo Details</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/terms_conditions.html">Terms &
                    Conditions</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/privacy.html">Privacy</a></li>
                <li><a class="dropdown-item" href="terms&amp;conditions.html">Conditions</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/help_support.html">Help Support</a>
                </li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/help_ticket.html">Help Ticket</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/refund_payment.html">Refund
                    Payment</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/faq.html">FAQ</a></li>
                <li><a class="dropdown-item" href="../../../../templates/signin.html">Sign In</a></li>
                <li><a class="dropdown-item" href="signup.html">Sign Up</a></li>
                <li><a class="dropdown-item" href="/askbootstrap/preview/vegishop/search.html">Search</a></li>
            </ul>
        </li>
        <li>
            <a href="cart.html#"><i class="icofont-link mr-2"></i> Navigation Link Example</a>
            <ul>
                <li>
                    <a href="cart.html#">Link Example 1</a>
                    <ul>
                        <li>
                            <a href="cart.html#">Link Example 1.1</a>
                            <ul>
                                <li><a href="cart.html#">Link</a></li>
                                <li><a href="cart.html#">Link</a></li>
                                <li><a href="cart.html#">Link</a></li>
                                <li><a href="cart.html#">Link</a></li>
                                <li><a href="cart.html#">Link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="cart.html#">Link Example 1.2</a>
                            <ul>
                                <li><a href="cart.html#">Link</a></li>
                                <li><a href="cart.html#">Link</a></li>
                                <li><a href="cart.html#">Link</a></li>
                                <li><a href="cart.html#">Link</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="cart.html#">Link Example 2</a></li>
                <li><a href="cart.html#">Link Example 3</a></li>
                <li><a href="cart.html#">Link Example 4</a></li>
                <li data-nav-custom-content>
                    <div class="custom-message">
                        You can add any custom content to your navigation items. This text is just an example.
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="bottom-nav">
        <li class="email">
            <a class="text-success" href="home.html">
                <p class="h5 m-0"><i class="icofont-home text-success"></i></p>
                Home
            </a>
        </li>
        <li class="github">
            <a href="cart.html">
                <p class="h5 m-0"><i class="icofont-cart"></i></p>
                CART
            </a>
        </li>
        <li class="ko-fi">
            <a href="/askbootstrap/preview/vegishop/help_ticket.html">
                <p class="h5 m-0"><i class="icofont-headphone"></i></p>
                Help
            </a>
        </li>
    </ul>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Delivery Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class method="get" action="/address/add_address">
                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <label class="form-label">Delivery region</label>
                            <div class="input-group">
                                <input placeholder="Delivery Region" type="text" class="form-control" name="region">
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="form-label">Delivery city</label>
                            <input placeholder="Delivery city" type="text" name="city"
                                   class="form-control">
                        </div>
                        <div class="col-md-12 form-group"><label class="form-label">Delivery street</label><input
                                placeholder="Delivery street" type="text" name="street"
                                class="form-control">
                        </div>
                        <div class="col-md-12 form-group"><label class="form-label">Delivery apartment
                            number</label>
                            <input placeholder="Delivery apartment number" type="text" name="apartmentNumber"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer p-0 border-0">
                        <div class="col-6 m-0 p-0">
                            <button type="button" class="btn border-top btn-lg btn-block" data-dismiss="modal">Close
                            </button>
                        </div>
                        <div class="col-6 m-0 p-0">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade right-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-0">
                <nav class="schedule w-100">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active col-5 py-4" id="nav-home-tab" data-toggle="tab"
                           href="cart.html#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                            <p class="mb-0 font-weight-bold">Sign in</p>
                        </a>
                        <a class="nav-link col-5 py-4" id="nav-profile-tab" data-toggle="tab"
                           href="cart.html#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                            <p class="mb-0 font-weight-bold">Sign up</p>
                        </a>
                        <a class="nav-link col-2 p-0 d-flex align-items-center justify-content-center"
                           data-dismiss="modal" aria-label="Close">
                            <h1 class="m-0 h4 text-dark"><i class="icofont-close-line"></i></h1>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="modal-body p-0">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="osahan-signin p-4 rounded">
                            <div class="p-2">
                                <h2 class="my-0">Welcome Back</h2>
                                <p class="small mb-4">Sign in to Continue.</p>
                                <form action="/askbootstrap/preview/vegishop/verification.html">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input placeholder="Enter Email" type="email" class="form-control"
                                               id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input placeholder="Enter Password" type="password" class="form-control"
                                               id="exampleInputPassword1">
                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg rounded btn-block">Sign in
                                    </button>
                                </form>
                                <p class="text-muted text-center small m-0 py-3">or</p>
                                <a href="/askbootstrap/preview/vegishop/verification.html"
                                   class="btn btn-dark btn-block rounded btn-lg btn-apple">
                                    <i class="icofont-brand-apple mr-2"></i> Sign up with Apple
                                </a>
                                <a href="/askbootstrap/preview/vegishop/verification.html"
                                   class="btn btn-light border btn-block rounded btn-lg btn-google">
                                    <i class="icofont-google-plus text-danger mr-2"></i> Sign up with Google
                                </a>
                                <p class="text-center mt-3 mb-0"><a href="signup.html" class="text-dark">Don't have an
                                    account? Sign up</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="osahan-signup bg-white p-4">
                            <div class="p-2">
                                <h2 class="my-0">Let's get started</h2>
                                <p class="small mb-4">Create account to see our top picks for you!</p>
                                <form action="/askbootstrap/preview/vegishop/verification.html">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Name</label>
                                        <input placeholder="Enter Name" type="text" class="form-control"
                                               id="exampleInputName1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputNumber1">Phone Number</label>
                                        <input placeholder="Enter Phone Number" type="number" class="form-control"
                                               id="exampleInputNumber1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input placeholder="Enter Email" type="email" class="form-control"
                                               id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input placeholder="Enter Password" type="password" class="form-control"
                                               id="exampleInputPassword1">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword2">Confirmation Password</label>
                                        <input placeholder="Enter Confirmation Password" type="password"
                                               class="form-control" id="exampleInputPassword2">
                                    </div>
                                    <button type="submit" class="btn btn-success rounded btn-lg btn-block">Create
                                        Account
                                    </button>
                                </form>
                                <p class="text-muted text-center small py-2 m-0">or</p>
                                <a href="/askbootstrap/preview/vegishop/verification.html"
                                   class="btn btn-dark btn-block rounded btn-lg btn-apple">
                                    <i class="icofont-brand-apple mr-2"></i> Sign up with Apple
                                </a>
                                <a href="/askbootstrap/preview/vegishop/verification.html"
                                   class="btn btn-light border btn-block rounded btn-lg btn-google">
                                    <i class="icofont-google-plus text-danger mr-2"></i> Sign up with Google
                                </a>
                                <p class="text-center mt-3 mb-0"><a href="../../../../templates/signin.html"
                                                                    class="text-dark">Already have an account! Sign
                                    in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-0 border-0">
                <div class="col-6 m-0 p-0">
                    <a href="cart.html#" class="btn border-top border-right btn-lg btn-block"
                       data-dismiss="modal">Close</a>
                </div>
                <div class="col-6 m-0 p-0">
                    <a href="/askbootstrap/preview/vegishop/help_support.html" class="btn border-top btn-lg btn-block">Help</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="section-footer border-top bg-white">
    <section class="footer-top py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-inline">
                        <select class="custom-select mr-2">
                            <option>USD</option>
                            <option>EUR</option>
                            <option>RUBL</option>
                        </select>
                        <select class="custom-select">
                            <option>United States</option>
                            <option>Russia</option>
                            <option>Uzbekistan</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-4">
                    <form>
                        <div class="input-group">
                            <input type="text" placeholder="Email" class="form-control" name>
                            <span class="input-group-append">
<button type="submit" class="btn btn-success"> Subscribe</button>
</span>
                        </div>

                    </form>
                </div>
                <div class="col-md-4 text-md-right">
                    <a href="cart.html#" class="btn btn-icon btn-light"><i class="icofont-facebook"></i></a>
                    <a href="cart.html#" class="btn btn-icon btn-light"><i class="icofont-twitter"></i></a>
                    <a href="cart.html#" class="btn btn-icon btn-light"><i class="icofont-instagram"></i></a>
                    <a href="cart.html#" class="btn btn-icon btn-light"><i class="icofont-youtube"></i></a>
                </div>
            </div>

        </div>

    </section>

    <section class="footer-main border-top pt-5 pb-4">
        <div class="container">
            <div class="row">
                <aside class="col-md">
                    <h6 class="title">Products</h6>
                    <ul class="list-unstyled list-padding">
                        <li><a href="listing.html" class="text-dark">Listing</a></li>
                        <li><a href="product_details.html" class="text-dark">Detail</a></li>
                        <li><a href="picks_today.html" class="text-dark">Trending</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/recommend.html" class="text-dark">Recommended</a>
                        </li>
                        <li><a href="/askbootstrap/preview/vegishop/fresh_vegan.html" class="text-dark">Most Popular</a>
                        </li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Checkout Process</h6>
                    <ul class="list-unstyled list-padding">
                        <li><a href="cart.html" class="text-dark">Cart</a></li>
                        <li><a href="cart.html" class="text-dark">Order Address</a></li>
                        <li><a href="cart.html" class="text-dark">Delivery Time</a></li>
                        <li><a href="cart.html" class="text-dark">Order Payment</a></li>
                        <li><a href="/templates/checkout.html" class="text-dark">Checkout</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/successful.html" class="text-dark">Successful</a>
                        </li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">My Order</h6>
                    <ul class="list-unstyled list-padding">
                        <li><a href="/askbootstrap/preview/vegishop/my_order.html" class="text-dark">My order</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/status_complete.html" class="text-dark">Status
                            Complete</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/status_onprocess.html" class="text-dark">Status on
                            Process</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/status_canceled.html" class="text-dark">Status
                            Canceled</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/review.html" class="text-dark">Review</a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">My Account</h6>
                    <ul class="list-unstyled list-padding">
                        <li><a class="text-dark" href="my_account.html"> My account</a></li>
                        <li><a class="text-dark" href="promos.html"> Promos</a></li>
                        <li><a class="text-dark" href="my_address.html"> My address</a></li>
                        <li><a class="text-dark" href="/askbootstrap/preview/vegishop/terms_conditions.html"> Terms
                            &amp; conditions</a></li>
                        <li><a class="text-dark" href="/askbootstrap/preview/vegishop/help_support.html"> Help &amp;
                            support</a></li>
                        <li><a class="text-dark" href="/askbootstrap/preview/vegishop/help_ticket.html"> Help ticket</a>
                        </li>
                        <li><a class="text-dark" href="../../../../templates/signin.html"> Logout</a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Extra Pages</h6>
                    <ul class="list-unstyled list-padding">
                        <li><a href="promo_details.html" class="text-dark"> Promo Details </a></li>
                        <li><a href="/askbootstrap/preview/vegishop/terms_conditions.html" class="text-dark">
                            Conditions </a></li>
                        <li><a href="/askbootstrap/preview/vegishop/help_support.html" class="text-dark"> Help
                            Support </a></li>
                        <li><a href="/askbootstrap/preview/vegishop/refund_payment.html" class="text-dark"> Refund
                            Payment </a></li>
                        <li><a href="/askbootstrap/preview/vegishop/faq.html" class="text-dark"> FAQ </a></li>
                        <li><a href="../../../../templates/signin.html" class="text-dark"> Sign In </a></li>
                    </ul>
                </aside>
            </div>

        </div>

    </section>

    <section class="footer-bottom border-top py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="pr-2">© 2021 Vegishop</span>
                    <span class="pr-2"><a href="/askbootstrap/preview/vegishop/privacy.html"
                                          class="text-dark">Privacy</a></span>
                    <span class="pr-2"><a href="terms&amp;conditions.html"
                                          class="text-dark">Terms & Conditions</a></span>
                </div>
                <div class="col-md-6 text-md-right">
                    <a "https://askbootstrap.com/preview/vegishop/href"><img
                        src="/askbootstrap/preview/vegishop/img/appstore.png" height="30"></a>
                    <a "https://askbootstrap.com/preview/vegishop/href"><img
                        src="/askbootstrap/preview/vegishop/img/playmarket.png" height="30"></a>
                </div>
            </div>

        </div>

    </section>
</footer>

<script src="/askbootstrap/preview/vegishop/vendor/jquery/jquery.min.js"
        type="d4fe421dd0b139d3d9003016-text/javascript"></script>
<script src="/askbootstrap/preview/vegishop/vendor/bootstrap/js/bootstrap.bundle.min.js"
        type="d4fe421dd0b139d3d9003016-text/javascript"></script>

<script type="d4fe421dd0b139d3d9003016-text/javascript"
        src="/askbootstrap/preview/vegishop/vendor/slick/slick.min.js"></script>

<script type="d4fe421dd0b139d3d9003016-text/javascript"
        src="/askbootstrap/preview/vegishop/vendor/sidebar/hc-offcanvas-nav.js"></script>

<script src="/askbootstrap/preview/vegishop/js/osahan.js" type="d4fe421dd0b139d3d9003016-text/javascript"></script>
<script src="/askbootstrap/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="d4fe421dd0b139d3d9003016-|49" defer></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816"
        integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw=="
        data-cf-beacon='{"rayId":"7d447c398cbb2920","version":"2023.4.0","r":1,"b":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}'
        crossorigin="anonymous"></script>
</body>
</html>