<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <link rel="icon" type="image/png" href="/askbootstrap/preview/vegishop/img/logo.png">
    <title>Vegishop - Online Grocery Supermarket HTML Template</title>

    <link rel="stylesheet" type="text/css" href="/askbootstrap/preview/vegishop/vendor/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="/askbootstrap/preview/vegishop/vendor/slick/slick-theme.min.css"/>

    <link href="/askbootstrap/preview/vegishop/vendor/icons/icofont.min.css" rel="stylesheet" type="text/css">

    <link href="/askbootstrap/preview/vegishop/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/askbootstrap/preview/vegishop/css/style.css" rel="stylesheet">

    <link href="/askbootstrap/preview/vegishop/vendor/sidebar/demo.css" rel="stylesheet">
</head>
<body class="fixed-bottom-padding">

<div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox"/>
        <div class="slider round"></div>
        <i class="icofont-moon"></i>
    </label>
    <em>Enable Dark Mode!</em>
</div>

<div th:insert="~{fragment/header::headerFragment}"></div>

<!--Body context-->
<section class="py-4 osahan-main-body">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="osahan-home-page">

                    <div class="osahan-body">

                        <div class="pt-3 pb-2 rounded osahan-categories">
                            <div class="categories-slider">
                                <div class="col-c" th:each="productType : ${productTypes}">
                                    <div class="bg-white shadow-sm rounded text-center my-2 px-2 py-3 c-it">
                                        <a th:href="@{/product/get_product_by_type(productType=${productType})}">
                                            <img src="/askbootstrap/preview/vegishop/img/categorie/8.svg"
                                                 class="img-fluid px-2 mx-auto">
                                            <h6 class="m-0 pt-2 text-muted text-center" th:text="${productType}"></h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="py-3 osahan-promos">
                            <div class="d-flex align-items-center mb-3">
                                <h5 class="m-0">FAST FOOD</h5>
                                <a href="/askbootstrap/preview/vegishop/promos.html"
                                   class="ml-auto btn btn-outline-success btn-sm">See more</a>
                            </div>
                            <div class="promo-slider pb-0 mb-0">
                                <div class="osahan-slider-item mx-2" th:each="fastFood : ${fastFoodList}">
                                    <a th:href="@{product/single_page/{id}(id=${fastFood.id})}" ><img th:src="@{/get_product_image(imageName=(${fastFood.getProductImg()}))}"
                                            class="img-fluid mx-auto rounded" alt="Responsive image"></a>
                                </div>
                            </div>
                        </div>

                        <div class="title d-flex align-items-center py-3">
                            <h5 class="m-0">RECOMMENDED FOR YOU</h5>
                            <a class="ml-auto btn btn-outline-success btn-sm"
                               href="/askbootstrap/preview/vegishop/picks_today.html">See more</a>
                        </div>

                        <div class="pick_today">
                            <div class="row">
                                <div class="col-6 col-md-3 mb-3" th:each="randomProduct : ${randomProducts}">
                                    <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                                        <div class="list-card-image">
                                            <a th:href="@{product/single_page/{id}(id=${randomProduct.id})}"
                                               class="text-dark">
                                                <div class="p-3">
                                                    <img th:src="@{/get_product_image(imageName=(${randomProduct.getProductImg()}))}"
                                                         class="img-fluid item-img w-100 mb-3">
                                                    <h6 th:text="${randomProduct.name}"></h6>
                                                    <div class="d-flex align-items-center">
                                                        <h6 class="price m-0 text-success"
                                                            th:text="${randomProduct.price}"></h6>
                                                        <div class="collapse qty_show" id="collapseExample1">
                                                            <div>
<span class="ml-auto" href="#">
    <form class="cart-items-number d-flex" method="POST" action="home.html#">
    <input type="button" value="-" class="qtyminus btn btn-success btn-sm" field="quantity"/>
    <input type="text" name="quantity" value="1" class="qty form-control"/>
    <input type="button" value="+" class="qtyplus btn btn-success btn-sm" field="quantity"/>
    </form>
</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="section-footer border-top bg-white">
    <section class="footer-top py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-inline">
                        <select class="custom-select mr-2">
                            <option>USD</option>
                            <option>EUR</option>
                            <option>RUBL</option>
                        </select>
                        <select class="custom-select">
                            <option>United States</option>
                            <option>Russia</option>
                            <option>Uzbekistan</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-4">
                    <form>
                        <div class="input-group">
                            <input type="text" placeholder="Email" class="form-control" name>
                            <span class="input-group-append">
<button type="submit" class="btn btn-success"> Subscribe</button>
</span>
                        </div>

                    </form>
                </div>
                <div class="col-md-4 text-md-right">
                    <a href="home.html#" class="btn btn-icon btn-light"><i class="icofont-facebook"></i></a>
                    <a href="home.html#" class="btn btn-icon btn-light"><i class="icofont-twitter"></i></a>
                    <a href="home.html#" class="btn btn-icon btn-light"><i class="icofont-instagram"></i></a>
                    <a href="home.html#" class="btn btn-icon btn-light"><i class="icofont-youtube"></i></a>
                </div>
            </div>

        </div>

    </section>

    <section class="footer-main border-top pt-5 pb-4">
        <div class="container">
            <div class="row">
                <aside class="col-md">
                    <h6 class="title">Products</h6>
                    <ul class="list-unstyled list-padding">
                        <li><a href="/askbootstrap/preview/vegishop/listing.html" class="text-dark">Listing</a></li>
                        <li><a href="/templates/product_details.html" class="text-dark">Detail</a>
                        </li>
                        <li><a href="/askbootstrap/preview/vegishop/picks_today.html" class="text-dark">Trending</a>
                        </li>
                        <li><a href="/askbootstrap/preview/vegishop/recommend.html" class="text-dark">Recommended</a>
                        </li>
                        <li><a href="/askbootstrap/preview/vegishop/fresh_vegan.html" class="text-dark">Most Popular</a>
                        </li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Checkout Process</h6>
                    <ul class="list-unstyled list-padding">
                        <li><a href="/askbootstrap/preview/vegishop/cart.html" class="text-dark">Cart</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/cart.html" class="text-dark">Order Address</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/cart.html" class="text-dark">Delivery Time</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/cart.html" class="text-dark">Order Payment</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/checkout.html" class="text-dark">Checkout</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/successful.html" class="text-dark">Successful</a>
                        </li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">My Order</h6>
                    <ul class="list-unstyled list-padding">
                        <li><a href="/askbootstrap/preview/vegishop/my_order.html" class="text-dark">My order</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/status_complete.html" class="text-dark">Status
                            Complete</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/status_onprocess.html" class="text-dark">Status on
                            Process</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/status_canceled.html" class="text-dark">Status
                            Canceled</a></li>
                        <li><a href="/askbootstrap/preview/vegishop/review.html" class="text-dark">Review</a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">My Account</h6>
                    <ul class="list-unstyled list-padding">
                        <li><a class="text-dark" href="/askbootstrap/preview/vegishop/my_account.html"> My account</a>
                        </li>
                        <li><a class="text-dark" href="/askbootstrap/preview/vegishop/promos.html"> Promos</a></li>
                        <li><a class="text-dark" href="/askbootstrap/preview/vegishop/my_address.html"> My address</a>
                        </li>
                        <li><a class="text-dark" href="/askbootstrap/preview/vegishop/terms_conditions.html"> Terms
                            &amp; conditions</a></li>
                        <li><a class="text-dark" href="/askbootstrap/preview/vegishop/help_support.html"> Help &amp;
                            support</a></li>
                        <li><a class="text-dark" href="/askbootstrap/preview/vegishop/help_ticket.html"> Help ticket</a>
                        </li>
                        <li><a class="text-dark" href="/templates/signin.html"> Logout</a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Extra Pages</h6>
                    <ul class="list-unstyled list-padding">
                        <li><a href="/askbootstrap/preview/vegishop/promo_details.html" class="text-dark"> Promo
                            Details </a></li>
                        <li><a href="/askbootstrap/preview/vegishop/terms_conditions.html" class="text-dark">
                            Conditions </a></li>
                        <li><a href="/askbootstrap/preview/vegishop/help_support.html" class="text-dark"> Help
                            Support </a></li>
                        <li><a href="/askbootstrap/preview/vegishop/refund_payment.html" class="text-dark"> Refund
                            Payment </a></li>
                        <li><a href="/askbootstrap/preview/vegishop/faq.html" class="text-dark"> FAQ </a></li>
                        <li><a href="/templates/signin.html" class="text-dark"> Sign In </a></li>
                    </ul>
                </aside>
            </div>

        </div>

    </section>

    <section class="footer-bottom border-top py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="pr-2">© 2021 Vegishop</span>
                    <span class="pr-2"><a href="/askbootstrap/preview/vegishop/privacy.html"
                                          class="text-dark">Privacy</a></span>
                    <span class="pr-2"><a href="terms&amp;conditions.html"
                                          class="text-dark">Terms & Conditions</a></span>
                </div>
                <div class="col-md-6 text-md-right">
                    <a href="https://askbootstrap.com/preview/vegishop/href"><img
                            src="/askbootstrap/preview/vegishop/img/appstore.png" height="30"></a>
                    <a href="https://askbootstrap.com/preview/vegishop/href"><img
                            src="/askbootstrap/preview/vegishop/img/playmarket.png" height="30"></a>
                </div>
            </div>

        </div>

    </section>
    <div class="modal fade right-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-0">
                    <nav class="schedule w-100">
                        <div th:if="${currentUser == null}" class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active col-5 py-4" id="nav-home-tab" data-toggle="tab"
                               href="home.html#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                <p class="mb-0 font-weight-bold">Sign in</p>
                            </a>
                            <a class="nav-link col-5 py-4"
                               href="/user/register"
                               aria-selected="false">
                                <p class="mb-0 font-weight-bold">Register</p>
                            </a>
                            <a class="nav-link col-2 p-0 d-flex align-items-center justify-content-center"
                               data-dismiss="modal" aria-label="Close">
                                <h1 class="m-0 h4 text-dark"><i class="icofont-close-line"></i></h1>
                            </a>
                        </div>
                        <div th:unless="${currentUser == null}" class="nav nav-tabs">
                            <a class="nav-link col-5 py-4"
                               href="/logout"
                               aria-selected="false">
                                <p class="mb-0 font-weight-bold">Logout</p>
                            </a>
                            <a class="nav-link col-5 py-4"
                               href="/"
                               aria-selected="false">
                                <p class="mb-0 font-weight-bold">Cancel</p>
                            </a>
                            <a class="nav-link col-2 p-0 d-flex align-items-center justify-content-center"
                               data-dismiss="modal" aria-label="Close">
                                <h1 class="m-0 h4 text-dark"><i class="icofont-close-line"></i></h1>
                            </a>
                        </div>
                    </nav>
                </div>
                <div th:if="${currentUser == null}" class="modal-body p-0">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="osahan-signin p-4 rounded">
                                <div class="p-2">
                                    <h2 class="my-0">Smart Pizza</h2>
                                    <form method="post" action="/login">

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input placeholder="Enter Email" type="email" class="form-control"
                                                   name="username"
                                                   id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input placeholder="Enter Password" type="password" class="form-control"
                                                   name="password"
                                                   id="exampleInputPassword1">
                                        </div>
                                        <button type="submit" class="btn btn-success btn-lg rounded btn-block">Sign in
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

<script src="/askbootstrap/preview/vegishop/vendor/jquery/jquery.min.js"
        type="04c4a063c19f0430837599fb-text/javascript"></script>
<script src="/askbootstrap/preview/vegishop/vendor/bootstrap/js/bootstrap.bundle.min.js"
        type="04c4a063c19f0430837599fb-text/javascript"></script>

<script type="04c4a063c19f0430837599fb-text/javascript"
        src="/askbootstrap/preview/vegishop/vendor/slick/slick.min.js"></script>

<script type="04c4a063c19f0430837599fb-text/javascript"
        src="/askbootstrap/preview/vegishop/vendor/sidebar/hc-offcanvas-nav.js"></script>

<script src="/askbootstrap/preview/vegishop/js/osahan.js" type="04c4a063c19f0430837599fb-text/javascript"></script>
<script src="/askbootstrap/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="04c4a063c19f0430837599fb-|49" defer></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816"
        integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw=="
        data-cf-beacon='{"rayId":"7d447c24295d2920","version":"2023.4.0","r":1,"b":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}'
        crossorigin="anonymous"></script>
</body>
</html>